h1 { 
    font-family: Raleway; 
    font-size: 23px; font-style: normal; font-variant: normal; 
    font-weight: 700; line-height: 23px; 
} 
    
h3 { font-family: Raleway; font-size: 17px; font-style: normal; 
    font-variant: normal; font-weight: 550; line-height: 23px; 
} 

p { font-family: Raleway; font-size: 14px; font-style: normal; 
    font-variant: normal; font-weight: 400; line-height: 23px; 
} 

blockquote { font-family: Raleway; font-size: 17px; font-style: normal; 
    font-variant: normal; font-weight: 400; line-height: 23px; 
} 
pre { 
    font-family: Raleway; font-size: 11px; font-style: normal; 
    font-variant: normal; font-weight: 400; line-height: 23px; 
}

/* Image Gallary */
div.gallery {
    margin: 5px;
    float: left;
    width: 250px;
    padding-left: 35px;
  }
    
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

/* End of Image Gallary */

desc{
    text-align: start;
}

.verticalCenter{
    margin: 0;
    position: absolute;
}

.grid-container {
    display: grid;
}

.gridFeature{
    padding-bottom: 30px;
    padding-right: 60px;
}

.alignRight{
    position: absolute;
    right: 0px;
}
/* Buttons */
button{
    background-color: rgb(53,85,86); /* Green */
    padding: 15px 40px 15px 40px;
    border: none;
}

.firstBtn:hover{
    background-color: transparent;
    color: rgb(53,85,86) !important;
    outline: 3px solid rgb(53,85,86);
    transition: 0.3s;
}

.secondaryBttn{
    border-bottom: 4px solid;
    border-width: 4px;
    border-color: rgb(53,85,86);
    background-color: transparent;
    color: black;
    font-weight: 700;
    margin-right: 60px;
}
.secondaryBttn:hover{

    background-color: rgb(53,85,86);
    color: white;
    transition: 0.3s;
    transition-timing-function: ease-in;
    border: none;
}


.justifyText{
    text-align: justify;
}

.featureImg{
  margin-top: 27px;
}

.title{
    font-family:'Jomolhari';
    font-size: 35px; 
    font-weight: 200; 
    line-height: normal; 
    vertical-align:top; 
    text-align: left;
}
.logoTitle{
    font-family:'Jomolhari';
    font-size: 35px; 
    font-weight: 200; 
    line-height: normal; 
    vertical-align:top; 
    text-align: left;
}

.quote{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

.quoteFrom{
    text-align: center;
    font-family: "Avenir Next" !important;
    font-weight: 400 !important;
}

.secondary-color-spacing{
    color:  rgb(53,85,86);
    letter-spacing: 2px;
    text-align: center;
    padding-left: 10px;
}


/* Style the tab */
.logo{
    width: 80px;
    margin-left: 50px;
    float:left;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: transparent;
    float: right;
    margin-right: 50px;

  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 20px 50px 20px;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    border-bottom: 4px solid;
    border-width: 4px;
    border-color: rgb(53,85,86)
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  #footer{
      background-color: rgb(53,85,86);
      width: 100%; 
      overflow: hidden; 
      padding-bottom: 50px; 
      box-sizing: border-box;
      padding-top: 50px;
      padding-left: 90px;
  }

  .whiteText{
      color: white;
      font-weight: 100;
  }

  .thirdBtn{
      color: white;
      font-size: small;
      font-weight: 500;
      padding: 12px 40px 12px 40px !important;
      border: 2px solid white !important;
  }

  .thirdBtn:hover{
      color: rgb(53,85,86);
      background-color: white;

  }

  .marginSpacing{
      margin-top: 35px;
      margin-bottom: 35px;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .disclaimer{
      opacity: 0.3 !important;
      margin-top: 50px;
      font-size: 10px;
  }

  .opacityLight{
      opacity: 0.8 !important;
  }

  .featureTitle{
      line-height: 2px;
  }

  .featureDesc{
      color: rgb(100,100,100) !important;
  }

  body{
      margin: 8px 0px 8px !important;
  }

  .featureWrapper{
    width: 60%; float:left; background-color: transparent; vertical-align:top; padding-left: 90px;
  }
  .gridLeftWrapper{
    width: 50%;
    float:left;
  }
  .gridRightWrapper{
    width: 50%;
    float:right;
  }
  .teamLeftWrapper{
    width: 50%; float:left; background-color: transparent; vertical-align:top; padding-left: 90px; 
  }
  .teamRightWrapper{
    width:30%; float:right; vertical-align:bottom;  position: relative; bottom:0;right:0; margin-top: 90px;
  }
  .team{
    padding-left: 90px;
  }
  .photographyFirstWrapper{
    background-color: rgb(249, 248, 244); width: 100%; overflow: hidden; box-sizing: border-box; padding-top: 50px; padding-bottom: 50px; position: relative; padding-left: 15%; padding-right: 15%;
}
.photographyTitle{
    width: 50%; float:left; background-color: transparent; vertical-align:top;
}
.leftImagePhotography{
    width: 70%; float:left; background-color: transparent; vertical-align:top;
}
.rightImagePhotography{
    width:20%; float:right; vertical-align:top; bottom:0;
}
.photographySecondWrapper{
    background-color: rgb(249, 248, 244); width: 100%; overflow: hidden; box-sizing: border-box; padding-top: 50px; padding-bottom: 50px; position: relative; padding-left: 15%; padding-right: 15%;
}
.footerLinksWrapper{
    width:50%; 
    float:right; 
    vertical-align:top; 
    bottom:0;
}
.footerLinksRight{
    width:50%;
    float:right;
}



@media only screen and (max-width: 768px) {

    .tab{
        margin-right: 0px;
    }

    .quote{
        margin-left: 10px;
        margin-right: 10px;
    }
    .featureWrapper{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .featureImg{
        display: none;
    }
    div.gallery {
        padding-left: 0px;
    }
    .featureTitle{
        line-height: normal;
    }
    .gridLeftWrapper{
        width: 100%;
    }
    .gridRightWrapper{
        width: 100%;
    }
    .teamLeftWrapper{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .teamRightWrapper{
        width: 100%;
        margin-top: 50px;
    }
    .alignRight{
        position: static;
        margin: 10px;
    }
    .title{
        padding-left: 10px;
        padding-right: 10px;
    }
    div.gallery {
        width: auto;
    }
    .team{
          padding-left: 0px;
    }
    .photographyFirstWrapper{
        padding-left: 0px; 
        padding-right: 0px;
    }
    .photographyTitle{
        width: 100%;
    }
    .leftImagePhotography{
        width: 100%; 
        float:none;
        margin-bottom: 10%;

    }
    .rightImagePhotography{
        width:20%; float:right; vertical-align:top; bottom:0;
    }
    .photographySecondWrapper{
        padding-left: 0%; padding-right: 0%;
    }
    .footerLinksWrapper{
       float: none;
    }
    .footerLinksRight{
        float: none;
    }
    .logo{
        float: none;
    }
 

 

}

@media only screen and (min-width: 768px) {

    .tab{
        margin-right: 0px;
    }

    .quote{
        margin-left: 10px;
        margin-right: 10px;
    }
    .featureWrapper{
        width: auto;
    }
    .featureImg{
        display: none;
    }
    div.gallery {
        padding-left: 0px;
    }
    .featureTitle{
        line-height: normal;
    }
    .gridLeftWrapper{
        width: 100%;
    }
    .gridRightWrapper{
        width: 100%;
    }
    .teamLeftWrapper{
        width: auto;
        padding-left: 90px;
        padding-right: 10px;
    }
    .teamRightWrapper{
        width: auto;
        margin-top: 50px;
        padding-left: 90px;
        float: none;
    }
    .team{
        padding-left: 90px;
        padding-right: 90px;
    }
    .alignRight{
        position: static;
        margin: 10px;
    }
    div.gallery {
        width: 50%;
        margin: 0px;
        padding-bottom: 50px;
    }
    .photographyFirstWrapper{
        padding-left: 0px; 
        padding-right: 0px;
    }
    .photographyTitle{
        padding-left: 90px;
    }
    #photographyTitle{
        width: 50%;
    }
    .leftImagePhotography{
        width: 100%; 
        float:none;
        margin-bottom: 10%;

    }
    .rightImagePhotography{
        width:20%; float:right; vertical-align:top; bottom:0;
    }
    .photographySecondWrapper{
        padding-left: 90px; padding-right: 90px;
    }
    .footerLinksWrapper{
       float: none;
    }
    .footerLinksRight{
        float: none;
    }
    #photographyImage{
        padding-right: 90px;
    }
    .fullWidth{
        width: 100%;
    }
    .marginRight{
        margin-right: 10px;
    }
    .logo{
        float: none;
    }
    
}
@media only screen and (min-width: 1000px) {
    
}

