h1 { 
    font-family: Raleway; 
    font-size: 23px; font-style: normal; font-variant: normal; 
    font-weight: 700; line-height: 23px; 
} 
    
h3 { font-family: Raleway; font-size: 17px; font-style: normal; 
    font-variant: normal; font-weight: 550; line-height: 23px; 
} 

p { font-family: Raleway; font-size: 14px; font-style: normal; 
    font-variant: normal; font-weight: 400; line-height: 23px; 
} 

blockquote { font-family: Raleway; font-size: 17px; font-style: normal; 
    font-variant: normal; font-weight: 400; line-height: 23px; 
} 
pre { 
    font-family: Raleway; font-size: 11px; font-style: normal; 
    font-variant: normal; font-weight: 400; line-height: 23px; 
}

/* Image Gallary */
div.gallery {
    margin: 5px;
    float: left;
    width: 250px;
    padding-left: 35px;
  }
    
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

/* End of Image Gallary */

desc{
    text-align: start;
    line-height: 0px; padding-top: 5px;
}

.verticalCenter{
    margin: 0;
    position: absolute;
}

.grid-container {
    display: grid;
}

.gridFeature{
    padding-bottom: 30px;
    padding-right: 60px;
}

.alignRight{
    position: absolute;
    right: 0px;
}
/* Buttons */
button{
    background-color: rgb(53,85,86); /* Green */
    padding: 15px 40px 15px 40px;
    border: none;
}

.firstBtn:hover{
    background-color: transparent;
    color: rgb(53,85,86) !important;
    outline: 3px solid rgb(53,85,86);
    transition: 0.3s;
}

.secondaryBttn{
    border-bottom: 4px solid;
    border-width: 4px;
    border-color: rgb(53,85,86);
    background-color: transparent;
    color: black;
    font-weight: 700;
    margin-right: 60px;
}
.secondaryBttn:hover{

    background-color: rgb(53,85,86);
    color: white;
    transition: 0.3s;
    transition-timing-function: ease-in;
    border: none;
}


.justifyText{
    text-align: justify;
}

.featureImg{
  margin-top: 27px;
}

.title{
    font-family:'Jomolhari';
    font-size: 35px; 
    font-weight: 200; 
    line-height: normal; 
    vertical-align:top; 
    text-align: left;
}
.logoTitle{
    font-family:'Jomolhari';
    font-size: 35px; 
    font-weight: 200; 
    line-height: normal; 
    vertical-align:top; 
    text-align: left;
}

.quote{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

.quoteFrom{
    text-align: center;
    font-family: "Avenir Next" !important;
    font-weight: 400 !important;
}

.secondary-color-spacing{
    color:  rgb(53,85,86);
    letter-spacing: 2px;
    text-align: center;
    padding-left: 10px;
}


/* Style the tab */
.logo{
    width: 80px;
    margin-left: 50px;
    float:left;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: transparent;
    float: right;
    margin-right: 50px;

  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 20px 50px 20px;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    border-bottom: 4px solid;
    border-width: 4px;
    border-color: rgb(53,85,86)
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  #footer{
      background-color: rgb(53,85,86);
      width: 100%; 
      overflow: hidden; 
      padding-bottom: 50px; 
      box-sizing: border-box;
      padding-top: 50px;
      padding-left: 90px;
  }

  .whiteText{
      color: white;
      font-weight: 100;
  }

  .thirdBtn{
      color: white;
      font-size: small;
      font-weight: 500;
      padding: 12px 40px 12px 40px !important;
      border: 2px solid white !important;
  }

  .thirdBtn:hover{
      color: rgb(53,85,86);
      background-color: white;

  }

  .marginSpacing{
      margin-top: 35px;
      margin-bottom: 35px;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .disclaimer{
      opacity: 0.3 !important;
      margin-top: 50px;
      font-size: 10px;
  }

  .opacityLight{
      opacity: 0.8 !important;
  }

  .featureTitle{
      line-height: 2px;
  }

  .featureDesc{
      color: rgb(100,100,100) !important;
  }

  body{
      margin: 8px 0px 8px !important;
  }

  .featureWrapper{
    width: 60%; float:left; background-color: transparent; vertical-align:top; padding-left: 90px;
  }
  .gridLeftWrapper{
    width: 50%;
    float:left;
  }
  .gridRightWrapper{
    width: 50%;
    float:right;
  }
  .teamLeftWrapper{
    width: 50%; float:left; background-color: transparent; vertical-align:top; padding-left: 90px; 
  }
  .teamRightWrapper{
    width:30%; float:right; vertical-align:bottom;  position: relative; bottom:0;right:0; margin-top: 90px;
  }
  .team{
    padding-left: 90px;
  }
  .photographyFirstWrapper{
    background-color: rgb(249, 248, 244); width: 100%; overflow: hidden; box-sizing: border-box; padding-top: 50px; padding-bottom: 50px; position: relative; padding-left: 15%; padding-right: 15%;
}
.photographyTitle{
    width: 50%; float:left; background-color: transparent; vertical-align:top;
}
.leftImagePhotography{
    float:left; background-color: transparent; vertical-align:top;
}
.rightImagePhotography{
    float:right; vertical-align:top; bottom:0;
}
.photographySecondWrapper{
    background-color: rgb(249, 248, 244); width: 100%; overflow: hidden; box-sizing: border-box; padding-top: 50px; padding-bottom: 50px; position: relative; padding-left: 15%; padding-right: 15%;
}
.footerLinksWrapper{
    width:50%; 
    float:right; 
    vertical-align:top; 
    bottom:0;
}
.footerLinksRight{
    width:50%;
    float:right;
}
#footerCTA{
    width: 50%; float:left; background-color: transparent; vertical-align:top; 
}



@media only screen and (max-width: 768px) {

    .tab{
        margin-right: 0px;
    }

    .desc{
        line-height: normal;
    }

    .quote{
        margin-left: 10px;
        margin-right: 10px;
    }
    .featureWrapper{
        width: auto;
        padding-left: 30px;
    }
    .featureImg{
        display: none;
    }
    div.gallery {
        padding-left: 0px;
    }
    .featureTitle{
        line-height: normal;
    }
    .gridLeftWrapper{
        width: 100%;
    }
    .gridRightWrapper{
        width: 100%;
    }
    .teamLeftWrapper{
        width: auto;
        padding-left: 30px;
        padding-right: 10px;
    }
    .teamRightWrapper{
        width: auto;
        margin-top: 50px;
        padding-left: 30px;
        float: none;
    }
    .team{
        padding-left: 30px;
        padding-right: 30px;
    }
    .alignRight{
        position: static;
        margin: 10px;
    }
    div.gallery {
        width: 50%;
        margin: 0px;
        padding-bottom: 50px;
    }
    .photographyFirstWrapper{
        padding-left: 0px; 
        padding-right: 0px;
    }
    .photographyTitle{
        padding-left: 30px;
    }
    #photographyTitle{
        width: 50%;
    }
    .leftImagePhotography{
        width: 100%; 
        float:none;
        margin-bottom: 10%;

    }
    .rightImagePhotography{
        width:100%; float:right; vertical-align:top; bottom:0;
    }
    .photographySecondWrapper{
        padding-left: 30px; padding-right: 30px;
    }
    .footerLinksWrapper{
       float: none;
    }
    .footerLinksRight{
        float: none;
    }
    #photographyImage{
        padding-right: 30px;
    }
    .fullWidth{
        width: 100%;
    }
    .marginRight{
        margin-right: 10px;
    }
    .logo{
        float: none;
    }
    #footerCTA{
        width: auto;
    }
 

 

}

@media only screen and (min-width: 768px) and (max-width: 1000px) {

    .tab{
        margin-right: 0px;
    }

    .quote{
        margin-left: 10px;
        margin-right: 10px;
    }
    .featureWrapper{
        width: auto;
    }
    .featureImg{
        display: none;
    }
    div.gallery {
        padding-left: 0px;
    }
    .featureTitle{
        line-height: normal;
    }
    .gridLeftWrapper{
        width: 100%;
    }
    .gridRightWrapper{
        width: 100%;
    }
    .teamLeftWrapper{
        width: auto;
        padding-left: 90px;
        padding-right: 10px;
    }
    .teamRightWrapper{
        width: auto;
        margin-top: 50px;
        padding-left: 90px;
        float: none;
    }
    .team{
        padding-left: 90px;
        padding-right: 90px;
    }
    .alignRight{
        margin: 10px;
    }
    div.gallery {
        width: 50%;
        margin: 0px;
        padding-bottom: 50px;
    }
    .photographyFirstWrapper{
        padding-left: 0px; 
        padding-right: 0px;
    }
    .photographyTitle{
        padding-left: 90px;
    }
    #photographyTitle{
        width: 50%;
    }
    .leftImagePhotography{
        width: 100%; 
        float:none;
        margin-bottom: 10%;
    }
    .rightImagePhotography{
        width:100%; float:right; vertical-align:top; bottom:0;
    }
    .photographySecondWrapper{
        padding-left: 90px; padding-right: 90px;
    }
    .footerLinksWrapper{
       float: none;
    }
    .footerLinksRight{
        float: none;
    }
    #photographyImage{
        padding-right: 90px;
    }
    .fullWidth{
        width: 100%;
    }
    .marginRight{
        margin-right: 10px;
    }
    .logo{
        float: none;
    }
    #footerCTA{
        width: auto;
    }
    
}
@media only screen and (min-width: 2000px) {
    #footer{
        padding-left: 150px;

    }
    .featureWrapper{
        padding-left: 150px;
    }
    .teamLeftWrapper{
        padding-left: 150px;
    }
    .team{
        padding-left: 150px;
    }
    
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.hs {
    display: -webkit-box;
    display: flex;
    overflow-x: scroll;
    -webkit-box-pack: justify;
    justify-content: space-between;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    margin: 0 -20px;
}

.header {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.headline {
    -webkit-box-flex: 1;
    flex: 1;
}

.arrows {
    align-self: center;
    background-color: rgb(53,85,86);
    margin-right: 30px;
}

.arrows .arrow:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(53,85,86);
    content: "";
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTUgOSI+Cgk8cGF0aCBmaWxsPSIjMzMzMzMzIiBkPSJNNy44NjcgOC41NzRsLTcuMjItNy4yMi43MDctLjcwOEw3Ljg2NyA3LjE2IDE0LjA1Ljk4bC43MDYuNzA3Ii8+Cjwvc3ZnPgo=");
    background-size: contain;
    -webkit-filter: brightness(5);
    filter: brightness(5);
    width: 18px;
    height: 12px;
    cursor: pointer;
}

.arrows .arrow.disabled:before {
    -webkit-filter: brightness(2);
    filter: brightness(2);
}

.arrows .arrow.arrow-prev:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-right: 10px;
}

.arrows .arrow.arrow-next:before {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.item {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% / 4 - (10px * 2) - (20px / 4));
    margin: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 990px) {
    .item {
        flex-basis: calc(100% / 2 - (10px * 2) - (20px / 3));
    }
}

.item:last-child:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 1px;
    right: calc(10px * 2 * -1);
}

.item:first-child {
    margin-left: calc(10px * 2);
}

.item_description {
    z-index: 1;
    align-self: flex-start;
    margin: 10px 0;
}

.item_title {
    font-weight: bolder;
}

.item_subtitle {
    color: #aaa;
    display: block;
}

.item_image_wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.item_image {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

@media only screen and (min-width: 990px) {
    .wrapper {
        overflow: hidden;
    }
}

@media (hover: none) and (pointer: coarse) {
    .wrapper .arrows {
        display: none;
    }

    .wrapper .item {
        -webkit-box-flex: 1;
        flex: 1 0 calc(23% - 10px * 2);
    }
}

@media only screen and (hover: none) and (pointer: coarse) and (max-width: 990px) {
    .wrapper .item {
        -webkit-box-flex: 1;
        flex: 1 0 calc(45% - 10px * 2);
    }
}

/* Base Styling */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Muli', sans-serif;
    line-height: 1.5;
    letter-spacing: .15px;
}

.container {
    max-width: 990px;
    padding: calc(10px * 2);
    margin: 0 auto;
    background: #121212;
    mix-blend-mode: invert;
    position: relative;
}

.container:after {
    content: '';
    width: 100vw;
    height: 100%;
    background: #212121;
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
}

@media only screen and (min-width: 990px) {
    .container {
        padding: calc(10px * 4) calc(10px * 8);
    }
}

.description {
    max-width: 990px;
    color: #212121;
    margin: 0 auto;
    padding: calc(10px * 4);
}

ul {
    padding: 0;
    margin: 0;
}

